# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Juan Resendiz
#	email = jresendiz@NSL-JRESENDIZs-MacBook-Pro.local
[user]
	name = Juan Alberto Resendiz Arteaga
	email = jresendiz@nearsoft.com
[core]
	autocrlf = input
	editor = nano
[alias]
	pretty-log = log --graph --abbrev-commit --decorate --format=format:\"%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(magenta)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold cyan)%d%C(reset)\"
